
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.menu-bg{
    margin-top:120px;
    background:url("../images/gold10_menu02_title_br_img02.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    height:400px;
}
.abuout-container{
    background:url("../images/641b11e19b587c5c662f0d3c_Frame 114.svg");
    background-repeat:no-repeat;
    background-position:bottom;
    height:700px;
    width:100%;
}
.abuout-container .inner{
    height:inherit;
    position: relative;
}
.abuout-container .inner .menu{
   position:absolute;
   top:200px;
   width:100%;
   display:flex;
   justify-content: center;
}
.abuout-container .inner .menu .title p{
   font-family: 'ONE-Mobile-POP', sans-serif;
   font-size:65px;
   font-weight:400;
   text-align:Center;
}
.abuout-container .inner .menu .title p .left-at{
    transform: rotate(16deg) translateY( -20PX) translateX(-15PX);
}
.abuout-container .inner .menu .title p .right-at{
    transform: rotate(-16deg) translateY(-20PX) translateX(15PX);
}
.abuout-container .inner .menu .title p:first-child{
    margin-bottom:20px;
    color:#e55206;
    display:flex;
}
.abuout-container .inner .menu .title span{
    width:24px;
    height:24px;
    margin:0 auto;
    background-color:#fff;
    box-shadow:2px 2px 8px rgba(0,0,0,.3);
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}
.abuout-container .inner .description{
   display:flex;
   justify-content: space-between;
   align-items: center;
   margin-right:10px;
}
.abuout-container .inner .description .description__menu{
    position: relative;
    z-index: 2;
}
.abuout-container .inner .description .description__menu1::before{
    content: "";
    background-color:#f4b30b;
    position:absolute;
    width: 209px;
    height:209px;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto auto;
    border-radius:50%;
    z-index:1;
}
.abuout-container .inner .description .description__menu2::before{
    content: "";
    background-color:#ff3b5a;
    position:absolute;
    width: 209px;
    height:209px;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto auto;
    border-radius:50%;
    z-index:1;
}
.abuout-container .inner .description .description__menu img{
    position: relative;
    z-index:1;
}
.menu-list{
    background-color:#f4b30b;
    height:500px;
    
}
.menu-list .inner{
    position: relative;
}
.menu-list .star{
    position: relative;
    z-index: 2;
}
.menu-list .new{
    position: absolute;
    top: -20px;
    left: -89px;
    transform: rotate(-20deg);
    width: 200px;
}
.menu-list h2{
    font-family: 'ONE-Mobile-POP', sans-serif;
    font-size:40px;
    color:#333;
    text-align:center;
}
.menu-list .menus ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:50px;
}
.menu-list .menus ul li {
    width: 270px;
    height: 288px;
    perspective: 600px;

}
.menu-list .menus ul li .front,
.menu-list .menus ul li .back{
    width: inherit;
    height: inherit;
    position: absolute;
    transition: .5s;
    backface-visibility: hidden;
    border-radius:15px;
    background-color:#fff;
    font-family: 'ONE-Mobile-POP', sans-serif;
    box-shadow: 2px 2px 8px rgba(0,0,0,.3);
}  

.menu-list .menus ul li .front{
    text-align:center;
    transform:rotateY(0deg);
}
.menu-list .menus ul li:hover .front{
    transform:rotateY(180deg);
}
.menu-list .menus ul li .back{
    background-color:rgba(0,0,0,.8);
    transform:rotateY(-180deg);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:20px;
    padding:0 10px;
    box-sizing: border-box;
    word-break:keep-all;
    color:#fff;
}
.menu-list .menus ul li:hover .back{
    transform:rotateY(0deg);
}
.menu-list .menus ul li .back h4{
    font-family: 'ONE-Mobile-POP', sans-serif;
    font-size:25px;
    border-bottom:1px solid #f06e17;
    margin-bottom:5px;
}
.menu-list .menus ul li img  {
    border-radius:50%;
    background-color:#fff;
    padding:3px;
}

.menu-list .menus ul li p  {
    font-family: 'ONE-Mobile-POP', sans-serif;
    margin-top:15px;
    font-size:20px;
}
.menu-box{
    margin-top:100px;
    width:100%;
}
.menu-box .text-group{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.menu-box .text-group .tab{
    width: calc((100% - 80px) / 5);
    margin-right: 20px;
    box-sizing: border-box;
    text-align: center;
    border-left: 4px solid #bb6b32;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    background-color: #ffb52f;
    transition: .1s;
}
.menu-box .text-group .tab:hover{
    background-color:#fff;
    color:#333;
}
.menu-box .text-group .tab:last-child{
    margin-right:0;
}
.menu-bg h1{
    padding:150px 0 0 50px;
    font-size:55px;
    font-weight:400;
    color:#fff;
}
.menu-bg h1 span {
    display: inline-block;
}

.menu-bg  h1 span span{
    display: inline-block;
    width: auto;
    margin-right: -0.1em;
    animation: animate-characters .6s var(--index) forwards;
    opacity: 0;
    position: relative;
}
.menu-bg p{
    padding-left:50px;
    color:#fff;
    opacity:0;
    font-size:20px;
    animation : animate-characters2 .6s var(--index) forwards;
}
.menu-detail{
    padding:100px 0;
}
.menu-detail h2{
    font-size: 40px;
    text-align: center;
    font-family: 'ONE-Mobile-POP', sans-serif;
}
.menu-detail .menu-group{
    margin-top:50px;
}
.menu-detail .menu-group ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:50px;
}
.menu-detail .menu-group ul:nth-child(n+2){
    margin-top:100px;
}

.menu-detail .menu-group ul li{
    width: 270px;
    height: 288px;
    perspective: 600px;
}
.menu-detail .menu-group ul li .front,
.menu-detail .menu-group ul li .back{
    width: inherit;
    height: inherit;
    position: absolute;
    transition: .5s;
    backface-visibility: hidden;
    border-radius:50%;
    background-color:#fff;
}
.menu-detail .menu-group ul li .front{
    text-align:center;
    transform:rotateY(0deg);
}
.menu-detail .menu-group ul li:hover .front{
    transform:rotateY(180deg);
}
.menu-detail .menu-group ul li .back{
    background-color:rgba(0,0,0,.8);
    transform:rotateY(-180deg);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:20px;
    padding:0 10px;
    box-sizing: border-box;
    word-break:keep-all;
    color:#fff;
}
.menu-detail .menu-group ul li:hover .back{
    transform:rotateY(0deg);
}
.menu-detail .menu-group ul li .back h4{
    font-size:25px;
    border-bottom:1px solid #f06e17;
    margin-bottom:5px;
}
.menu-detail .menu-group ul li img  {
    border-radius:50%;
    background-color:#fff;
    padding:3px;
}
.menu-detail .menu-group ul li p  {
    font-size: 20px;
    background: #f3f3f3;
    height: 150px;
    /* line-height: 150px; */
    margin-top: -127px;
    padding-top: 110px;
    box-sizing: border-box;
}


@keyframes animate-characters {
    0% {
        bottom: -0.2em;
        opacity: 1;
        color: #3E5C76;
    }
    
    30% {
        bottom: 0.2em;
        color: #f06e17;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes animate-characters2 {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

.menu-bg{
    background:url("../images/gold10_menu05_title_br_img01.jpg");
}
.store-list .inner{
    padding:150px 0;
}
.store-list h2{
    font-size:55px;
    text-align:Center;
}
.store-list .stores{
    width:100%;
    margin-top:50px;
    display:flex;
    justify-content: space-between;
}
.store-list .stores:nth-child(n+2){
    margin-top:30px;
}
.store-list .stores .store{
    padding:20px;
    background-color:#fff;
    box-shadow:2px 2px 8px rgba(0,0,0,.1);
}
.store-list .stores .store img{
    transition: .3s;
}
.store-list .stores .store img:hover{
    transform: scale(1.2);
}
.store-list .stores .store .text-group{
    margin-top:15px;
}
.store-list .stores .store .text-group .title{
    font-size:18px;
}
.store-list .stores .store .text-group .sub-title{
    margin-top: 15px;
    font-size: 14px;
    color: #5d5d5d;
}
.store-list .stores .store .text-group .address{
    margin-top:20px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    text-transform: uppercase;
    padding: 10px 15px 10px 18px;
    line-height: 1.1;
    letter-spacing: 4px;
    max-width: 100%;
    border-width: 1px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: none;
    background-color: rgba(196,208,191,.2);
    color: #5a796f;
    width:120px;
    font-size:13px;
}
.store-list .stores .store .text-group .address::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    width: 2px;
    background-color: #5a796f;
    -webkit-transition: width .3s ease-out;
    transition: width .3s ease-out;
}
.store-list .stores .store .text-group .address:hover{
    color:#fff;
    background-color:#5a796f;
}



.about-sungbukdang{
    margin-top:120px;
    padding:50px 0;
}
.about-sungbukdang .inner h2{
    font-size:55px;
    text-align:center;
    font-weight:400;
}
.about-sungbukdang .text-group{
    margin-top:100px;
    display:flex;
    justify-content: space-between;
}
.about-sungbukdang .text-group .text-group-left{
    width:60%;
}
.about-sungbukdang .text-group .text-group-left h4{
    font-family: 'omyu_pretty', sans-serif;
    font-size:32px;
    font-weight:bold;
    margin-bottom:30px;
}
.about-sungbukdang .text-group .text-group-left p{
    font-family: 'omyu_pretty', sans-serif;
    font-size:24px;
    margin-bottom:50px;
}
.about-sungbukdang .text-group .text-group-right{
    width:30%;
}
.about-sungbukdang .text-group .text-group-right img{
    max-width:100%;
}
.core-value{
    background-image: url("../images/gold10_menu02_sub_br02.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding:100px 0;
}
.core-value .inner{}

.core-value .inner h2{
    font-size:50px;
    font-weight:400;
    color:#fff;
    text-align:center;
}
.core-value .inner .values{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:50px;
    height:230px;
}
.core-value .inner .values .value{
    width:calc((100% - 30px) / 2);
    margin-right:20px;
    background-image: url("../images/white.webp");
    background-color: #fff;
    box-sizing: border-box;
    padding:20px 10px 20px 80px;
    text-align:left;
    height:inherit;
    display: flex;
    align-items: center;
}
.core-value .inner .value:last-child{
    margin-right:0;
}
.core-value .inner .value .value__title{
    font-size:25px;
    margin-bottom:15px;
    color: #f7b400;
    font-weight:400;
}
.core-value .inner .value .value__description{
    font-size:18px;
    color: #717171;
}
.core-value .inner .value .material-icons{
    font-size:50px;
    display:block;
    color:#fff;
    margin-right:50px;
    background-color:#f7b400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding:10px;
}
.varit-menu{
    padding:100px 0;
}
.varit-menu h2{
    font-size:55px;
    text-align:center;
    font-weight:400;
    color: #dba914;
}
.varit-menu .sub-title{
    font-size:25px;
    text-align:center;
    margin-top:30px;
    color: #494949;
    line-height:1.7;
}
.varit-menu .sub-title span{
    color: #dba914;
}
.varit-menu .text-group{
    margin-top:70px;
}
.varit-menu .text-group img{
    max-width:100%;
}
.varit-menu .text-group .more{
    margin: 0 auto;
    margin-top:50px;
    text-align:Center;
    display:flex;
    justify-content: center;
}
.medea-introduction{
    padding:0 0 50px 0;
}
.medea-introduction .inner{
    position: relative;
}
.medea-introduction h2{
    font-size:55px;
    text-align:center;
    font-weight:400;
}
.medea-introduction .media-list{
    margin-top:120px;
    display:flex;
    justify-content: space-between;
} 
.medea-introduction .media-img{
    max-width:100%;
    width: calc((100% - 30px) / 2);
    margin-right:30px;
}
.medea-introduction .media-img2{
    margin-right:0;
}
.medea-tv-introduction{
    background-image: url("../images/pc_menu_news_bg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding:100px 0;
}
.medea-tv-introduction h2{
    font-size:55px;
    text-align:center;
    font-weight:400;
    color:#fff;
}
.medea-tv-introduction .media-list{
    margin-top:100px;
}
.medea-tv-introduction .media-list img{
    max-width:100%;
    margin-bottom:50px;
}
.medea-tv-introduction .media-list img:last-child{
    margin-bottom:0;
}
.medea-tv-introduction .sub-title{
    font-size:25px;
    text-align:center;
    margin-top:30px;
    color: #ddd;
    line-height:1.7;
}
.medea-tv-introduction .sub-title span{
    color: #dba914;
}
.menu-info-list .inner .text::after , 
.about-sungbukdang .inner h4::after{
    content: "|";
    position: absolute;
    right: 0;
    width: 100%;
    color: #333;
    text-align:left;
    background-color:#fff;
}
.menu-info-list .inner .text::after{
    -webkit-animation: typing 4s steps(12) forwards, caret 1s infinite;
            animation: typing 4s steps(12) forwards, caret 1s infinite;
}
.about-sungbukdang .inner h4::after{
    -webkit-animation: typing 2s steps(12) forwards, caret 1s infinite;
            animation: typing 2s steps(12) forwards, caret 1s infinite;
}

.franchisee-prosess{
    padding: 100px 0 ;
    width:1100px;
    margin:0 auto;
}
.franchisee-prosess h2{
    font-size:55px;
    text-align:center;
}
.step {
    display: flex;
    margin-top:50px;
}
.stepItem {
    position: relative;
    width: calc(25% - 21px);
    text-align: center;
    color: #ff8c00;
    cursor: pointer;
}
.stepItem:not(:first-child) {
    margin-left: 28px;
}
.stepItem:not(:first-child):after {
    content: "ÔÑÅ";
    font-family: "FontAwesome";
    position: absolute;
    top: calc(50% - 16px);
    left: -28px;
    width: 33px;
    height: 22px;
    font-size: 30px;
    color: #ff8c00;
    z-index: 3;
    top:109px;
}
.stepItem:first-child .stepItemBox:before {
    display: none;
}
.stepItem:last-child .stepItemBox:after {
 display: none;
}
.stepItem .stepItemBox:before, .stepItem .stepItemBox:after {
    color: #ffb760;
    border-color: #ffb760;
}
.stepItem.active .stepItemInner {
    background: #ffeac2;
}
.stepItem.active .stepItemBox:after {
    color: #ffb760;
    border-color: #ffb760;
}
.stepItem.unActive {
    filter: grayscale(100%);
    text-decoration: line-through;
    z-index: 2;
}
.stepItemInner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fffaf0;
    border: 1px solid #ffb760;
    border-radius: 4px;
    padding: 30px 25px;
    min-height: 200px;
    transition: 0.4s;
}
.stepItemInner:hover {
    background: #fdd6a3;
}
.stepItemBox {
    position: relative;
    overflow: hidden;
}
.stepItemBox:before, .stepItemBox:after {
    content: "";
    position: absolute;
    top: calc(50% - 26px);
    width: 52px;
    height: 52px;
    background: white;
    border: 1px solid #ffb760;
    border-radius: 50%;
    z-index: 2;
}
.stepItemBox:before {
    left: -40px;
}
.stepItemBox:after {
    right: -40px;
}
.stepNotification {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -15px;
    left: -16px;
    width: 50px;
    height: 50px;
    color: #fff;
    background: #ffab00;
    font-size: 11px;
    border-radius: 50%;
    z-index: 3;
    font-size: 28px;
    /* vertical-align: middle; */
    box-sizing: border-box;
    padding-top: 3px;
}
.stepText {
    color: #ff8c00;
    font-size: 24px;
    font-weight: 400;
}
.stepText h4{
    font-size:28px;
    margin-bottom:20px;
}
.stepText  p{
    font-size:18px;
    color:#6f6f6f;
}

.pride-pee{padding:0 0 100px 0;}
.pride-pee h2{
    font-size:55px;
    text-align:center;
}

.Amount{margin-top:50px;}
.Amount th{padding: 14px; text-align: center;color:#fff;background: #231f20;border: 1px solid #cbcccd;  font-size:16px;}
.Amount td {font-size:16px;padding: 10px;border: 1px solid #cbcccd; color:#231f20;}
.Amount td.gray {background:#8b8d90; color:#FFF; text-align:center; font-size:16px;}

.Total {padding: 20px 30px;background: #231f20; text-align: center; margin-top: 23px;}
.Total p { margin: 0;}
.Total span{color: #FFF;  font-size: 24px; display: inline-block;margin-right: 30px;}
.Total strong{color: #fec511;  font-size: 28px; font-weight: bold;  display: inline-block;margin-right: 30px;}
.Total {padding: 20px 30px;background: #231f20; text-align: center; margin-top: 23px;}
.Total p { margin: 0;}
.Total span{color: #FFF;  font-size: 24px; display: inline-block;margin-right: 30px;}
.Total strong{color: #fec511;  font-size: 28px; font-weight: bold;  display: inline-block;margin-right: 30px;}





@media (min-width:768px) and (max-width:1099px){
    .inner {
        width: 100%;
        padding:20px 10px;
        box-sizing: border-box;
    }
    
    body{word-break: keep-all;}


    .core-value .inner .values{margin:50px;}
    .core-value .inner .values .value{padding:20px;}

    .franchisee-prosess{width:100%;}
    .step{flex-wrap: wrap;}
    .stepItemInner{box-sizing: border-box; padding:30px; min-height:300px;}

}


@media (max-width: 767px) {
    
  .inner {
    width: 100%;
    padding:20px 10px;
    box-sizing: border-box;
  }
  
  .back-to-position.to-left{
    transform:translatex(0);
    transform:translateY(150px)
   }
   .show .back-to-position {
        opacity: 1;
        transform: translateY(0);
        transform: translateX(0);
   }
   .back-to-position3.to-skew-left{transform: translateY(150px) rotate(0deg);}
   .show .back-to-position3.to-skew-left {
        opacity: 1;
        transform: translateY(0) rotate(10deg);
    }
    .mobile{display:block;}


  .menu-bg{height:300px;}
  .menu-bg h1{font-size:32px; padding:100px 0 0 20px}
  .menu-bg p{padding-left:20px; width:80%;}

  .about-sungbukdang{margin-top:50px;}
  .about-sungbukdang .text-group{flex-direction: column;}
  .about-sungbukdang .text-group .text-group-left{width:100%; margin-top:30px; order:2;}
  .about-sungbukdang .text-group .text-group-right{width:100%; order:1;}
  .about-sungbukdang .text-group img{max-width:100%;}
  .about-sungbukdang .inner h4::after {
        -webkit-animation: typing 4s steps(13) forwards, caret 1s infinite;
        animation: typing 4s steps(13) forwards, caret 1s infinite;
    }

  .core-value .inner .values{flex-wrap:wrap ;height:auto; margin-top:20px;}
  .core-value .inner .values .value{width:100%; margin-right:0; margin-bottom:20px;
    flex-direction: column; padding:20px; box-sizing: border-box; justify-content: center;}
    .core-value .inner .value .material-icons{margin-right:0; margin-bottom:20px;}
  .value-group{text-align:center;}
  body{word-break: keep-all;}
  .varit-menu h2 , .medea-introduction h2{font-size:45px;}


  .franchisee-prosess{width:100%; padding:50px 20px; box-sizing: border-box;}
  .step{flex-direction: column;}
  .stepItem{width:100%; margin-bottom:20px;}
  .stepItem:not(:first-child){margin-left:0;}
  .stepItem:not(:first-child)::after{content:"";}

  .pride-pee{width:100%; overflow-x:scroll}
  .Amount{width:1100px; }
}